body{
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.logo{
    width: 400px;
    padding: 5px;
}

.display-flex{
    display: flex;
}

main{
    justify-content: center;
} 

.pokedex{
    width: 1000px;
    height: 755px;
    background-image: url(../imgs/ViniDex.png);
    position: relative;
    display: flex;
}

.pokedex img{
    width: 100%;
    height: 100%;
}

.container-esquerda-pokedex{
    /* background-color: rgba(0, 255, 255, 0.185); */
    width: 551px;
    height: 655px;
    padding-top: 100px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-consulta{
    width: 110px;
    height: 35px;
    margin-left: 325px;
    background-color: #5e5a5a;
    border: 1px solid black;
    border-radius: 10px;
}

.consulta{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: white;
}

.input-codigo{
    margin-left: 3px;
    width: 65px;
    height: 15px;
    border-radius: 5px;
}

.container-painel{
    width: 390px;
    height: 319px;
    margin: 65px 55px 0;
    /* background-color: rgba(128, 0, 128, 0.541);  */
}

.painel{
    flex-direction: column;
    /* background-color: rgba(128, 255, 0, 0.5); */
    height: 247px;
}

.nome-pokemon{
    margin-top: 5px;
    align-self: center;
}

.pokemon{
    align-self: center;
}

.pokemon img{
    margin-top: 20px;
    width: 150px;
}

.container-tipo{
    margin-top: 20px;
    justify-content: center;
    /* background-color: rgba(95, 158, 160, 0.432); */
}

.tipo-pokemon{
    width: 20px;
    margin-right: 15px;
    margin-left: 15px;
    border: 2px solid black;
    border-radius: 50%;
}

.container-inf-status{
    background-color: rgba(94, 90, 90, 0.959);
    margin-top: 10px;
    width: 451px;
    height: 185px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.container-inf-status nav{
    justify-content: center;
}

.botao{
    margin: 5px 10px 0px 10px;
    width: 80px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.descricao{
    height: 150px;
    position: relative;
}

.informacoes{
    margin: 5px 10px 0px 10px;
    overflow-y: scroll;
    height: 130px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    text-align: justify;
}
/* criado separados os estilos por que provavelmente vão ter conteudos com outros estilos  */
.status{
    margin: 5px 10px 0px 10px;
    overflow-y: scroll;
    max-height: 130px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    text-align: justify;
}
